{% extends 'partials/template.twig' %}

{% block title %}{{projects.title}} - Romain Khanoyan's Portfolio{% endblock %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="{{ path_for('projects') }}">Back to projects</a></li>
{% endblock %}

{% block content %}
<h2 class="my-3">{{ projects.title }}</h2>
<div class="row">
    <img class="mx-auto my-5" src="{{projects.img_link}}" alt="image du projet {{projects.id}}">
    <p>{{projects.text}}</p>
    <br>
    <p>{{projects.text}}</p>

    <br>
    <p>{{projects.text}}</p>

</div>
{% endblock %}